## Import Libraries that we need

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data load

In [ ]:
df = pd.read_csv('/content/drive/My Drive/machine learning/regression/data/house_rental_data.csv.txt')
df.head()

   Unnamed: 0      Sqft  Floor  ...  Living.Room  Bathroom  Price
0           1  1177.698      2  ...            2         2  62000
1           2  2134.800      5  ...            2         2  78000
2           3  1138.560      5  ...            2         1  58000
3           4  1458.780      2  ...            2         2  45000
4           5   967.776     11  ...            2         2  45000

[5 rows x 8 columns]

height and age are feature column and tagert column is weight                     
before doing this we are check data is not missing

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   645 non-null    int64
 1   Sqft         645 non-null    float64
 2   Floor        645 non-null    int64
 3   TotalFloor   645 non-null    int64
 4   Bedroom      645 non-null    int64
 5   Living.Room  645 non-null    int64
 6   Bathroom     645 non-null    int64
 7   Price        645 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 40.4 KB

In [ ]:
df =df.drop(columns=['Unnamed: 0'])

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
print(X)

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
0    1177.698      2           7        2            2         2
1    2134.800      5           7        4            2         2
2    1138.560      5           7        2            2         1
3    1458.780      2           7        3            2         2
4     967.776     11          14        3            2         2
..        ...    ...         ...      ...          ...       ...
640  1359.156      7          15        3            2         2
641   377.148      4          10        1            1         1
642   740.064     13          14        1            1         1
643  1707.840      3          14        3            2         2
644  1376.946      6           7        3            2         1

[645 rows x 6 columns]

In [ ]:
y

array([ 62000,  78000,  58000,  45000,  45000, 148000,  58000,  48000,
        45000,  65000,  31000,  29002,  39000,  48000,  55000, 100000,
        48000,  25000,  90000,  33000, 140000, 100000,  55000, 105000,
       200000,  98000, 200000, 145000,  25000,  24028,  65000,  85000,
        55000,  57000,  46000,  52000,  43500,  60000, 200000,  36000,
       145000,  48000,  36000,  65000,  70000,  50000,  47999,  80000,
       200000,  24030,  76000,  70000,  32500,  30032, 180000,  80000,
        36000,  36000,  29032,  43000,  30000,  32000,  45000,  49000,
        27500,  23000,  33500,  26000,  27500,  50000,  25000,  41000,
        90000,  26000,  38000,  75000,  56000,  40000,  89900,  37000,
        48800,  39000,  45000,  50000,  45000,  46000, 130000,  60000,
        78000,  70000,  70000,  70000,  49800,  79999,  60000,  57000,
        66000,  75000,  55000,  70000,  75000,  60000,  95000, 150000,
       150000,  98000,  80000,  33000,  55000,  80000,  52000,  52000,
        99999,  65000,  92000,  55000, 149999,  35000,  22000,  33000,
        48000,  53000,  68000,  80000, 120000,  57000,  57000, 100000,
        38000,  27000,  75000,  55000,  89000,  40000,  99999,  48000,
        39000,  75000,  80000,  86888, 140000,  58888,  57000,  41888,
        39000,  29999,  88000, 225000,  40999,  55000,  97999,  77000,
        57000,  52000,  44999,  32000,  50000,  59888,  41000,  45000,
        68000,  43000,  28000, 180000,  45000,  88000, 100000, 100000,
        48000,  35000,  48000,  80000,  98000, 120000,  37000,  82000,
       100000,  35000,  49800,  33700,  40000,  45000, 130000,  45000,
        37000,  36000,  30000,  42000,  42000,  67000,  45000,  38000,
        75000,  55000,  55000,  85000,  65000,  29500,  43000,  33500,
        26000,  65999,  45000,  23800,  49999,  58000,  45000,  36000,
        65000,  65000,  55000,  35000,  75000,  43000,  50000,  45000,
        52000, 120000,  28000, 110000,  57000,  55000,  95000,  25000,
       120000,  45000,  28000,  45000,  80000,  55000,  75000,  75000,
       100000,  75000,  55000,  36000,  50000,  50000,  42000,  68000,
        41999,  60000, 160000,  57000, 120000,  50000, 138888,  48800,
       120000,  43000,  99990,  60000,  68000,  55000,  43000,  34800,
        80000,  45000,  63000,  49800,  36000,  36000,  48000,  43000,
        26000,  37000,  25000,  36000,  38000,  60000,  49999,  77999,
        36000,  17000,  26000,  36000,  37000,  90000,  88000,  43500,
        26000,  55000,  50000,  45000,  88000,  50000, 250000,  88000,
        43000,  88000,  49800,  26000, 120000,  45000,  51999,  65000,
        98000,  98000, 100000, 206000,  68000,  55000,  49800,  77999,
        49999,  44999,  99999,  58000,  42000,  35000,  65000,  37000,
        48800,  39999,  49999,  55000,  77999,  74999,  90000,  63000,
        59500,  45000, 160000,  73000,  36000,  65000,  53000, 170000,
        43000,  55000,  48800,  80000,  35000, 160000,  70000,  40000,
        56000,  40000,  38000,  68000,  60000,  32000,  58000,  59888,
        38888,  24888,  39000, 130000,  31999,  42000,  49800,  29500,
       100000,  55000,  61000,  85000,  55000,  70000,  78000,  98000,
        50000,  65000,  55000,  39000,  22000,  19000,  88000,  65000,
        45000,  31800,  34800,  13000,  46000,  52000,  57000,  38000,
        40000,  75000,  43000,  63000, 110000,  65000,  70000,  45000,
        44000,  70000, 100000,  38000,  55000,  37000,  58500, 120000,
        69000,  41000,  45000,  98000,  75000,  35000,  33700,  41000,
        40000,  80000,  78000,  36000,  11900,  29800,  35000,  33000,
        32000,  42000,  34500,  32000,  29000,  58000,  35000,  42000,
        54999, 123456,  28000,  34000,  40000,  45000,  50000,  88000,
       100000,  85000,  99888, 168000,  51000,  31000,  85000, 110000,
        45000,  43000,  90000, 185000,  45000,  28000,  68000,  42000,
        17000,  53000,  78000, 150000,  99999, 119999, 100000,  45000,
        48000,  36000,  50000,  24000,  28000,  39000,  36000,  50000,
        36000,  55000,  50000,  57000,  78000,  59500,  45000, 100000,
        39000,  36000,  50000, 135000,  28000, 200000, 105000,  98000,
        98000,  57000, 100000,  45000,  45000,  60000,  32000,  60000,
       108000, 100000,  80000,  88000,  80000,  45000,  38800,  35000,
        55000,  43500,  38000, 150000, 110000,  48000,  72000,  42000,
        75000,  49998, 110000,  50000,  50000, 158000,  26000,  45000,
        28000,  35000,  77000,  89000,  28500,  45000, 110000,  70000,
        33000,  51500,  69500,  36000,  36000,  50000,  21000,  42000,
        35000,  25000, 100000,  40000,  55000,  40000,  50000,  47000,
        20000, 150000,  28000,  40000,  65000,  70000,  43000,  60000,
        85000,  48120,  35000,  50000, 138000,  31000,  30000,  48000,
        60000,  40000,  45000,  58000,  30000,  77000,  80000,  55000,
        45000,  45000,  30500, 138888,  38000,  36000,  47999,  35000,
        38000,  45000,  22000,  35000,  90000,  98000,  60000,  68000,
        17000,  40000,  52000,  40000, 180000,  23000,  26000,  28800,
        33000,  44000, 170000,  45000,  78000,  38000,  45000,  38800,
        99999, 150000,  43000,  45000,  32000,  69000,  31000,  59800,
        31000,  42000,  27000,  36000,  45000,  60000,  29000,  60000,
        26000,  69999, 129999,  21000,  50000,  45000,  36000,  43000,
        30000,   6100,  98000,  55000,  42000,  43000,  36000,  45000,
        65000,  32000,  99999,  45000,  12000, 180000, 100000, 110000,
       120000,  55000,  41000,  75000,  42000,  45000,  38000,  28000,
        57777,  82000,  53000,  70000,  40000,  60000,  80000, 138888,
        45000,  24800,  45000,  65000,  36000])

##Train test split of data

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2,random_state =42)

In [ ]:
X_train

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
515  1487.244      6           7        3            1         2
29    853.920      6           7        2            1         1
274  1138.560      4           5        3            2         2
576   693.810      2           7        1            1         1
434  2910.444      4           7        3            2         3
..        ...    ...         ...      ...          ...       ...
71   1284.438      6          12        3            2         2
106  3202.200     12          12        5            3         3
270  1366.272      4          11        4            2         2
435  3010.068      4          11        3            2         2
102  2938.908      2          25        4            2         2

[516 rows x 6 columns]

## Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor =RandomForestRegressor()

##Train the model and score check

In [ ]:
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.7836295373448207

In [ ]:
y_pred = regressor.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred,))

310481634.0024786
10056.243135703658

Here we see the score of the model

we are use the standarization in the data or minmaxscalar

In [ ]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
X_train = std.fit_transform(X_train)
X_test = std.transform(X_test)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [ ]:
X_train

array([[0.20517799, 0.23809524, 0.11428571, 0.33333333, 0.33333333,
        0.25      ],
       [0.08996764, 0.23809524, 0.11428571, 0.16666667, 0.33333333,
        0.        ],
       [0.14174757, 0.14285714, 0.05714286, 0.33333333, 0.66666667,
        0.25      ],
       ...,
       [0.18317152, 0.14285714, 0.22857143, 0.5       , 0.66666667,
        0.25      ],
       [0.48220065, 0.14285714, 0.22857143, 0.33333333, 0.66666667,
        0.25      ],
       [0.46925566, 0.04761905, 0.62857143, 0.5       , 0.66666667,
        0.25      ]])

we are going to increse the accuracy

In [ ]:
regressor.get_params

<bound method BaseEstimator.get_params of RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)>

In [ ]:
regressor =RandomForestRegressor(max_depth=50000)

In [ ]:
regressor.fit(X_train,y_train)
print(regressor.score(X_test,y_test))
y_pred = regressor.predict(X_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred,))

0.7847845306516733
308824271.88025075
10481.6027159021