## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Preprocessig

In [2]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv',header=None)

In [3]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
transactions = []
for i in range(0,7501):
        transactions.append([str(dataset.values[i,j]) for j in range(0,20)])

In [ ]:
print(transactions)

## Traning the Apriori model

In [6]:
#!pip install apyori
from apyori import apriori

In [7]:
rules = apriori(transactions,min_support = 0.003,min_confidence=0.2,min_lift = 3)

In [8]:
results = list(rules)

In [ ]:
print(results)

In [10]:
def inspect(results):
    LHS = [tuple(result[2][0][0])[0] for result in results]
    RHS = [tuple(result[2][0][1])[0] for result in results]
    support = [result[1] for result in results]
    confidence = [result[2][0][2] for result in results]
    lift = [result[2][0][3] for result in results]
    
    return list(zip(LHS,RHS,support ,confidence,lift))

df = pd.DataFrame(inspect(results),columns = ('Left Hand Side','right hand side','support','confidences','lift'))

In [11]:
df

           Left Hand Side right hand side   support  confidences      lift
0             light cream         chicken  0.004533     0.290598  4.843951
1    mushroom cream sauce        escalope  0.005733     0.300699  3.790833
2                   pasta        escalope  0.005866     0.372881  4.700812
3           fromage blanc           honey  0.003333     0.245098  5.164271
4           herb & pepper     ground beef  0.015998     0.323450  3.291994
..                    ...             ...       ...          ...       ...
155           ground beef             nan  0.003066     0.216981  3.632981
156           ground beef             nan  0.003066     0.211009  3.532991
157           ground beef             nan  0.003066     0.261364  4.376091
158         mineral water             nan  0.003333     0.211864  3.223519
159                  milk             nan  0.003333     0.238095  3.986501

[160 rows x 5 columns]

In [12]:
df.sort_values(by = 'lift',ascending = False)

        Left Hand Side    right hand side   support  confidences      lift
150               soup                nan  0.003066     0.383333  7.987176
97                soup      mineral water  0.003066     0.383333  7.987176
149          olive oil                nan  0.003333     0.294118  6.128268
96           olive oil      mineral water  0.003333     0.294118  6.128268
132  whole wheat pasta                nan  0.003866     0.402778  6.128268
..                 ...                ...       ...          ...       ...
98       mineral water  frozen vegetables  0.004533     0.288136  3.022804
106          spaghetti                nan  0.005999     0.215311  3.018781
36           spaghetti             shrimp  0.005999     0.215311  3.013149
49         ground beef          spaghetti  0.005999     0.523256  3.005315
121        ground beef                nan  0.005999     0.523256  3.005315

[160 rows x 5 columns]

In [13]:
df.to_csv('result.csv')